@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


.card-item {
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  height: 200px;
  position: relative;
  background-color:  #a3e7d6;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 7px;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 7px ;
  background-image: linear-gradient(to bottom right,#20EE9F, #a3e7dc );

  &:hover {
    border: 1px solid #eee;
  }

  &__name {
    position: relative;
    padding: 0 20px;
    margin-top: 50px;
    height: 45px;
    color: #fff;
    font-size: 50px;
  }

  &__endpoint {
    height: 50px;
    color: #fff;
    font-size: 25px;
    margin-top: 10px;
  }

  &__priority {
    height: 60px;
    color:#329cbf;
    position: absolute !important;
    right: 16px !important;
  }
}
