.card-item {
  text-transform: uppercase;
  font-family: "SWIS721 BLKCN", sans-serif;
  height: 200px;
  position: relative;
  background: rgb(132,250,176);
  background: linear-gradient(45deg, rgba(132,250,176,1) 20%, rgba(143,211,244,1) 100%);
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 7px;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 7px ;

  &:hover {
    border: 1px solid #eee;
  }

  &__name {
    position: relative;
    padding: 0 20px;
    margin-top: 50px;
    height: 45px;
    color: #fff;
    font-size: 50px;
  }

  &__endpoint {
    height: 50px;
    color: #fff;
    font-size: 25px;
    margin-top: 10px;
  }

  &__priority {
    height: 60px;
    color:#329cbf;
    position: absolute !important;
    right: 16px !important;
  }
}
