.input {
  margin: 15px auto;
  width: 70%;
  text-align: center;
  
}

.input-new {
  margin-top: 15px;
  width: 200px;
}

.submit-button {
  font-family: 'Anton', sans-serif; 
  background-color: #20EE9F !important;
  border-color: #20EE9F !important;
  color: aliceblue;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 90px !important;
  height: 50px !important;
  font-size: 15px !important;
  right: 16px !important;
  text-transform: uppercase;
  float: right;
  border-radius: 5px;
}

