#home-page {
  font-family: "SWIS721 BLKCN", sans-serif;
  max-height: 100% !important;

}

.btn-app {
  font-family: "SWIS721 BLKCN", sans-serif; 
  background-color: #20EE9F !important;
  border-color: #20EE9F !important;
  color: aliceblue;
  font-size: 25px !important;
  padding: 10px 20px;
  position: absolute !important;
  right: 16px !important;
  text-transform: uppercase;
}

.items-top {
  margin-top: 15px !important;
}

.items-listed {
  width: 100% !important;
}


.title {
  color: #52b2d2;
  font-family: "SWIS721 BLKCN";
  font-size: 30px;
}
