.navbar {
  background: rgb(132,250,176);
  background: linear-gradient(45deg, rgba(132,250,176,1) 20%, rgba(143,211,244,1) 100%);
  position: relative;
  padding: 0 20px;
  height: 90px;
  margin-bottom: 50px;
}

.logo {
  color: #ffffff; 
  font-size: 60px; 
  font-weight: 700px; 
  line-height: 72px; 
  margin: 0 0; 
  text-align: center; 
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid transparent;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);

  &:hover {
    text-decoration: none;
    color: #fff9;
  }
}