.navbar {
  background-image: linear-gradient(to bottom right, #a3e7dc ,#20EE9F);
  position: relative;
  padding: 0 20px;
  height: 90px;
  margin-bottom: 50px;
}

.logo {
  color: #ffffff; 
  font-size: 60px; 
  font-weight: 700px; 
  line-height: 72px; 
  margin: 0 0; 
  text-align: center; 
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid transparent;

  &:hover {
    text-decoration: none;
    color: #fff9;
  }
}